body {
  background-color: #0000bf;
}
img {
  width: 150px;
  margin-right:0px;
  margin-bottom: 10px;
}
p {
  text-align: center;
  color: white;
  font-family: arial,helvetica,sans-serif;
  font-weight: bold;
}
table {
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  color: -webkit-text;
  text-align: start;
}
link {
  display: none;
}

.icon {
  vertical-align: middle;
  width: 39px;
  height: 34px;
}

.icon.icon-email {
  height: 36px;
  width: 50px;
}


.typefield {
  vertical-align: center;
}
