body {
  background-color: #000;
}
img {
  width: 150px;
  margin-right:0px;
  margin-bottom: 10px;
}
p {
  text-align: center;
  color: white;
  font-family: arial,helvetica,sans-serif;
  font-weight: bold;
}
table {
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-variant: normal;
  font-style: normal;
  color: -webkit-text;
  text-align: start;
}
link {
  display: none;
}

.page {
  width: 960px;
  margin: 0 auto;
  position: relative;
  padding: 30px 0;
}

.input {
  display: block;
  width: 430px;
  margin: 0 auto;
  font-size: 32px;
  padding: 0;
  border: none;
  outline: none;
  background: #000;
  color: #fff;
  text-align: left;
  resize: none;
  height: 45px;
  line-height: 45px;
  margin-bottom: 45px;
}

.input::-webkit-input-placeholder {
  color: #fff;
  opacity: .25;
}

.canvas {
  width: 960px;
  height: 480px;
}

.icon {
  vertical-align: middle;
  width: 39px;
  height: 34px;
}

.icon.icon-email {
  height: 36px;
  width: 50px;
}


.typefield {
  vertical-align: center;
}
